.container{
    width: 90%;
    margin: auto;
    background: lightblue;
    height: 600px;
}
.box {
    /*width: 200px;*/
    /*height: 300px;*/
    /*min-width: 200px;*/
    /*min-height: 200px;*/
    /*max-height: 200px;*/
    /*width: 960px;*/
    /* width: 100%;*/
    /* 500 - 40 1000 - 40 */
    width: 300px;
    height: 200px;
    margin: 10px;
    background: gray;
    float: left;
}

.box1 {
    width: 300px;
    height: 200px;
    margin: 10px;
    background: #e30000;
    float: left;
}

.box2 {
    width: 300px;
    height: 200px;
    margin: 10px;
    background: #026aef;
    float: left;
}