/*
12 = Grid
1 = 8.33
2 = 16.66
3 = 25
4 = 33.33
5 = 41.66
6 = 50


*/
body{
    margin: 0;
    padding: 0;
}
.container {
    width: 95%;
    margin: auto;
    height: 500px;
    background: gray;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 200px;
    height: 200px;
    background: #ffc900;
}

.box2 {
    width: 200px;
    height: 200px;
    background: #0155c3;
}

.box3 {
    width: 200px;
    height: 200px;
    background: #026aef;
}
