/*
RGB: 0-255
RGBa: a= 0.0 to 1.0
color-name: red;green;
hex-color codes: 16 hexadecimal # = 0-256 = a-f
hsl,hsla = hls =
H= hue - Degree(0-360)
S= Saturation - Precentage 0% to 100%
L= lightness - 0% to 100%
a= opacity
*/

body {
    /*background: red;*/
    /*background: #ffaaff;*/
    /*background:rgb(94,56,102);*/
    /*background:rgba(94,56,102,0.5);*/
    /*background: hsl(90,50%,20%);*/
    /*background-color: gray;*/

    background-image: url("../img/abc.jfif");
    background-repeat: no-repeat;
    background-color: red;

    /*background-position: right top;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    /*background-repeat: repeat-x;*/
    /*background-repeat: repeat-y;*/
    /* background-image: url("../img/a.jpg");*/
    /*background: linear-gradient(to left,red, gray, blue);*/
    /*background: repeating-linear-gradient(red, gray, blue);*/
    /*background-size: 200px;*/

}